@import url('https://fonts.google.com/specimen/Atkinson+Hyperlegible+Mono?preview.text=Pattern%20Pulse&lang=en_Latn&categoryFilters=Feeling:%2FExpressive%2FBusiness;Appearance:%2FMonospace%2FMonospace');

#root {
  max-width: 100%;
  text-align: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100vw;      /* Make it span the viewport width */
  left: 50%;         /* Center it relative to the viewport */
  right: 0;
  transform: translateX(-50%); /* Shift it back to align with the viewport */
  padding: 1rem 0;   /* Remove horizontal padding */
  height: 10vh;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  margin-left: 180px;
}

.logo {
  max-width: 55px;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.logo img {
  width: 100%;
  height: auto;
}

.title {
  font-size: 2.5rem;
  margin-left: 1rem;
  color:  #aec5eb;
  font-family: 'Atkinson Hyperlegible Mono', monospace;
}

.nav-icon {
  margin-top: 0.5rem;
  max-height: 5vh;
  max-width: auto;
}

.about-us-icon {
  max-height: 7.5vh;
  max-width: auto;
  margin-top: 0.5rem;
}

/* App container layout */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  
}

.content-container {
  display: flex;
  flex: 1;
  width: 100%;

  
;
}

/* Vertical navigation styling */
.vertical-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 180px;
  background-color: #2b62aa;
  border-right: 1px solid #ddd;
  min-height: 100vh;   
  height: 100%;       
  z-index:100;
  font-family: 'Atkinson Hyperlegible Mono';
  src: url('https://fonts.google.com/specimen/Atkinson+Hyperlegible+Mono?preview.text=Pattern%20Pulse&lang=en_Latn&categoryFilters=Feeling:%2FExpressive%2FBusiness;Appearance:%2FMonospace%2FMonospace');
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 33.33%;
  padding: 1rem;
  text-decoration: none;
  color:  #aec5eb;
  font-weight: bold;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid #ddd;
}

.nav-button:last-child {
  border-bottom: none;
}

.nav-button:hover {
  transition: 0.5s;
    background-color: #aec5eb;
    color: #2b62aa;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
  
;
}



/* Animation */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
